{% load static %}

<html>
    <head>
        <title>Upload file with Ajax in Django - Form</title>
        <link rel="stylesheet" href="{% static 'formwithfile/index.css' %}">
    </head>
    <body>
        <div class="">
            <h1 class="center">A simple demo for upload file, with username, email and password</h1>
        </div>
        <div class="container">
            <form action="" method="" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- username -->
                <div class="form-input">
                    <label class="float-left marg-pad" for="username">username</label>
                    <input class="float-right marg-pad" type="text" id="username" name="username" />
                    <div class="clear"></div>
                </div>

                <!-- email -->
                <div class="form-input">
                    <label class="float-left marg-pad" for="email">email</label>
                    <input class="float-right marg-pad" type="email" id="email" name="email" />
                    <div class="clear"></div>
                </div>

                <!-- password -->
                <div class="form-input">
                    <label class="float-left marg-pad" for="password">password</label>
                    <input class="float-right marg-pad" type="password" id="password" name="password" autocomplete="false"/>
                    <div class="clear"></div>
                </div>

                <!-- file -->
                <div class="form-input">
                    <label class=" marg-pad" for="file">file</label>
                    <input class="float-right marg-pad" type="file" id="file" name="file" />
                    <div class="clear"></div>
                </div>

                <!-- button -->
                <div class="form-input">
                    <!-- <label for="button">button</label> -->
                    <input type="submit" class="marg-pad float-right" id="btn" name="btn" value="Submit"/>
                    <div class="clear"></div>
                </div>

            </form>
        </div>

        <script type="text/javascript" src="{% static 'formwithfile/jquery-3.5.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'formwithfile/index.js' %}"></script>
    </body>
</html>

