{% extends 'formwithfile/layout.html' %}

{% load static %}

{% block heading %}A simple demo for upload file, with username, email and password{% endblock %}

{% block content %} 
    <form action="" method="" enctype="multipart/form-data" id="file-form">
        {% csrf_token %}

        <!-- username -->
        <div class="form-input">
            <label class="float-left marg-pad" for="username">username</label>
            <input class="float-right marg-pad" type="text" id="username" name="username" />
            <div class="clear"></div>
        </div>

        <!-- email -->
        <div class="form-input">
            <label class="float-left marg-pad" for="email">email</label>
            <input class="float-right marg-pad" type="email" id="email" name="email" />
            <div class="clear"></div>
        </div>

        <!-- password -->
        <div class="form-input">
            <label class="float-left marg-pad" for="password">password</label>
            <input class="float-right marg-pad" type="password" id="password" name="password" autocomplete="false"/>
            <div class="clear"></div>
        </div>

        <!-- file -->
        <div class="form-input">
            <label class=" marg-pad" for="file">file</label>
            <input class="float-right marg-pad" type="file" id="file" name="file" />
            <div class="clear"></div>
        </div>

        <!-- button -->
        <div class="form-input">
            <!-- <label for="button">button</label> -->
            <input type="submit" class="marg-pad float-left" id="update-btn" name="btn" value="Update"/>
            <button class="marg-pad float-right" id="delete-btn">Delete</button>
            <div class="clear"></div>
        </div>

    </form>
{% endblock %}

{% block other_scripts %}
<script type="text/javascript">

    $(document).ready(function () {

        $("#username").val("{{ data.username }}")
        $("#email").val("{{ data.email }}")
        $("#password").val("{{ data.password }}")
        $("#file").val("")


        $("#delete-btn").click(function(e) {
            e.preventDefault()
            const csrfmiddlewaretoken = '{{ csrf_token }}'

            let target = "{% url 'delete' data.id %}"

            $.ajax({
                data: { csrfmiddlewaretoken },
                url: target,
                type: 'POST',
                success: function() {
                    window.location.replace("{% url 'read' %}")
                },
                error: function(err) {
                    console.log(err)
                }
            });
        })


        $("#update-btn").click(function(e) {
            e.preventDefault()
            $("#file-form").trigger("submit")
        })


        $("#file-form").on('submit', function(e) {
            e.preventDefault()
            
            const body = new FormData(this)
            let target = "{% url 'update' data.id %}"

            $.ajax({
                url: target,
                data: body,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function() {
                    window.location.replace("{% url 'read' %}")
                },
                error: function(err) {
                    console.log(err)
                }
            });

        })
                        
    });

</script>
{% endblock %}
